<md-content class="md-padding" style="
    background: transparent;">
    <h1>Orar</h1>

    <div layout="row" layout-align="center center" layout-margin>
        <div flex="80">
            <create-button></create-button>

            <div my-button layout-sm="column" layout-align-sm="end end" layout-align-sm="end end"
                 style="z-index: +1"></div>

            <md-card>
                <md-card-content>

                    <div layout layout-align="center center" >
                        <md-button class="buttoncolor" ng-click="changeView('agendaDay', 'myCalendar1')">Day</md-button>
                        <md-button class="buttoncolor" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</md-button>
                        <md-button class="buttoncolor" ng-click="changeView('month', 'myCalendar1')">Month</md-button>
                    </div>
                    <div ui-calendar="uiConfig.calendar" class="span8 calendar" calendar="myCalendar1" ng-model="eventSources"></div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>