

 <div class="container" style="padding-left:100px">
  <div class="row">
    <div class="col-sm-12">
      <h1 align="center">Login</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
           <md-input-container>
            <input ng-model="user.email" type="email" placeholder="Email (required)" required name="email" >
             <div ng-show="form.$dirty" ng-messages="form.email.$error">
                  <div ng-message="required">Email required.</div>
                  <div ng-message="email">Invalid email.</div>
                </div>
          </md-input-container>
       </div>

        <div class="form-group">
          <md-input-container class="md-icon-float" >
             <input ng-model="user.password" type="password" placeholder="Password" required name="password">
             <div ng-show="form.$dirty" ng-messages="form.password.$error">
                  <div ng-message="required">Password required.</div>
                </div>
            </md-input-container>
        </div>

        
   

        <div align="center">
            <md-button class="md-raised" type="submit">Login</md-button>
            
        </div>
      </form>
    </div>
  </div>
 
</div>



