<md-content class="md-padding" style="background: transparent;">
	<h1>Faculties</h1>

	<create-button></create-button>

	<div layout="column" layout-align="center center"layout-margin>

		<div flex="25" flex-order="1" ng-repeat="univ in faculties" ng-class ="{ 'md-whiteframe-z4' : hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
			<md-card>
				<img src="/assets/images/manufacturer.jpg" class="md-card-image" alt="image caption">
				<div class="md-ripple-container"></div>
				<md-card-content>
					<h4>{{univ.name}}</h4>

				</md-card-content>
				<div class="md-actions" layout="row" layout-align="end center">
					<md-button md-no-ink class="md-raised" ng-click="goToDetails($index)">Detalii</md-button>
					<md-button  md-no-ink class="md-raised" ng-click="goTo('/listSubjects')">Materii</md-button>
					<md-button class="md-warn" ng-click="delete(univ)" >Delete</md-button>
				</div>
			</md-card>
		</div>
	</div>

</md-content>