<h1>Faculties</h1>

<md-content class="md-padding" style="
    background: transparent;">

      


        	<!-- Card Collection -->
	<div layout="row" layout-align="center center" layout-margin >

		<!-- Card #1 -->
		<div flex="25"  ng-repeat="item in faculty" ng-class ="{ 'md-whiteframe-z4' : hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" >

			
			<md-card >
				<img src="assets/images/images.jpg" class="md-card-image" alt="image caption">
				<div class="md-ripple-container" ></div>
				<md-card-content>
					<p>{{ item.name }}</p>
				</md-card-content>
					<div class="md-actions" layout="row" layout-align="end center">
                         <md-button  md-no-ink class="md-raised" >Detalii</md-button>
                         <md-button  md-no-ink class="md-raised" ng-click="goTo('/listSubjects')">Materii</md-button>
                    </div>
			</md-card>
			  
		</div>

		
	</div>

			<!-- Card layout #2 -->
	<div layout="row" layout-align="center center" layout-margin>
		<div flex="25" flex-order="4">
			<md-card>
				<img src="assets/images/images.jpg" class="md-card-image" alt="image caption">
				<div class="md-ripple-container"></div>
				<md-card-content>
					<h4>Facultatea de Urbanism</h4>

				</md-card-content>
				<div class="md-actions" layout="row" layout-align="end center">
					<md-button  md-no-ink class="md-raised">Detalii</md-button>
					<md-button  md-no-ink class="md-raised">Intra</md-button>
				</div>
			</md-card>


		</div>
		<div flex="25" flex-order="5">
			<md-card>
				<img src="assets/images/images.jpg" class="md-card-image" alt="image caption">
				<div class="md-ripple-container"></div>
				<md-card-content>
					<h4>Facultatea de Arte</h4>

				</md-card-content>
				<div class="md-actions" layout="row" layout-align="end center">
					<md-button  md-no-ink class="md-raised">Detalii</md-button>
					<md-button  md-no-ink class="md-raised">Intra</md-button>
				</div>
			</md-card>

		</div>
	</div>
</md-content>


