<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h2>Menu</h2>
    </md-toolbar>

    <md-list>
      <md-list-item >
          <md-button>
           User1
          </md-button>
      </md-list-item>

      <md-list-item >
          <md-button>
           User2
          </md-button>
      </md-list-item>

      <md-list-item >
          <md-button>
           User3
          </md-button>
      </md-list-item>

      <md-list-item >
          <md-button>
           User4
          </md-button>
      </md-list-item>

      <md-list-item >
          <md-button>
           User5
          </md-button>
      </md-list-item>

    </md-list>

  </md-sidenav>