<h1> Hello Facultati</h1>


<!-- <div ng-controller="UnivCtrl" class="cardDemo" >

   <md-content class="-padding">

   	  
   	  <div layout="row" layout-align="center center"layout-margin>
   	  	<div flex="25">
   	  
		<md-card>		
			 <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      			<md-card-content>
        		<h2 class="md-title">Facultatea de Automatica si Calculatoare</h2>
        		
      			</md-card-content>

      			<div class="md-actions" layout="row" layout-align="end center">
                <md-button> Details </md-button>
        
            </div>
		</md-card>


			
		<md-card>		
			 <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      			<md-card-content>
        		<h2 class="md-title">Facultatea de Telecomunicatii</h2>
        		
      			</md-card-content>

      			<div class="md-actions" layout="row" layout-align="end center">
                <md-button> Details </md-button>
        
            </div>
		</md-card>

			
		<md-card>		
			 <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      			<md-card-content>
        		<h2 class="md-title">Facultatea de Medicina</h2>
        		
      			</md-card-content>

      			<div class="md-actions" layout="row" layout-align="end center">
                <md-button> Details </md-button>
        
            </div>
		</md-card>

		</div>
		</div>
	   



	    


	    <div layout="row" layout-align="space-around center">
   	  
		<md-card>		
			 <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      			<md-card-content>
        		<h2 class="md-title">Facultatea de Urbanism </h2>
        		
      			</md-card-content>

      			<div class="md-actions" layout="row" layout-align="end center">
                <md-button> Details </md-button>
        
            </div>
		</md-card>


			
		<md-card>		
			 <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      			<md-card-content>
        		<h2 class="md-title">Facultatea de Arte</h2>
        		
      			</md-card-content>

      			<div class="md-actions" layout="row" layout-align="end center">
                <md-button> Details </md-button>
        
            </div>
		</md-card>

			
		<md-card>		
			 <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      			<md-card-content>
        		<h2 class="md-title">Facultatea de ..</h2>
        		
      			</md-card-content>

      			<div class="md-actions" layout="row" layout-align="end center">
                <md-button> Details </md-button>
        
            </div>
		</md-card>

		
	
	   </div>
    </md-content>


</div> -->



	 <md-content class="md-padding">
	 <!-- <div ng-repeat="" ng-class ="{ 'md-whiteframe-z4' : hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"> -->

		<div layout="row" layout-align="center center"layout-margin>
			
			<!-- Card #1 -->
	  		<div flex="25" flex-order="1">
	  			
	  		
	  		<md-card>
	  			<img src="assets/images/images.jpg" class="md-card-image" alt="image caption">
			        <div class="md-ripple-container"></div>
				<md-card-content>
			  	<h4>Facultatea de Automatica si Calculatoare</h4>
			   	
			 	</md-card-content>
			 	<div class="md-actions" layout="row" layout-align="end center">
			 	<md-button  md-no-ink class="md-raised">Detalii</md-button>
			 	<md-button  md-no-ink class="md-raised">Intra</md-button>
			 	</div>
			</md-card>
	
		    </div>
		    
		    <!-- Card #2 -->
			  <div flex="25" flex-order="2">
			 <md-card>
			 <img src="assets/images/images.jpg" class="md-card-image" alt="image caption">
			        <div class="md-ripple-container"></div>
			 <md-card-content>
			   <h4>Facultatea de Telecomunicatii</h4>
			   
			 </md-card-content>
			 <div class="md-actions" layout="row" layout-align="end center">
			 	<md-button  md-no-ink class="md-raised">Detalii</md-button>
			 	<md-button ng-click="goTo('/telecomunicatii')" md-no-ink class="md-raised">Intra</md-button>
			 	</div>
			</md-card>

			  </div>

			  <!-- Card #3 -->
			  <div flex="25" flex-order="3">
			<md-card>
			 <img src="assets/images/images.jpg" class="md-card-image" alt="image caption">
			        <div class="md-ripple-container"></div>
			 <md-card-content>
			   <h4>Facultatea de Medicina</h4>
			   
			 </md-card-content>

			 <div class="md-actions" layout="row" layout-align="end center">
			 	<md-button  md-no-ink class="md-raised">Detalii</md-button>
			 	<md-button  md-no-ink class="md-raised">Intra</md-button>
			 </div>

			</md-card>
			  </div>
			</div>

		
			<div layout="row" layout-align="center center" layout-margin>
	  		<div flex="25" flex-order="4">
			<md-card>
			 <img src="assets/images/images.jpg" class="md-card-image" alt="image caption">
			        <div class="md-ripple-container"></div>
			 <md-card-content>
			   <h4>Facultatea de Urbanism</h4>
			   
			 </md-card-content>
			 <div class="md-actions" layout="row" layout-align="end center">
			 	<md-button  md-no-ink class="md-raised">Detalii</md-button>
			 	<md-button  md-no-ink class="md-raised">Intra</md-button>
			 </div>
			</md-card>


			  </div>
			  <div flex="25" flex-order="5">
			 <md-card>
			 <img src="assets/images/images.jpg" class="md-card-image" alt="image caption">
			        <div class="md-ripple-container"></div>
			 <md-card-content>
			   <h4>Facultatea de Arte</h4>
			   
			 </md-card-content>
			 <div class="md-actions" layout="row" layout-align="end center">
			 	<md-button  md-no-ink class="md-raised">Detalii</md-button>
			 	<md-button  md-no-ink class="md-raised">Intra</md-button>
			 </div>
			</md-card>

			  </div>
			  <div flex="25" flex-order="6">
			<md-card>
			 <img src="assets/images/images.jpg" class="md-card-image" alt="image caption">
			        <div class="md-ripple-container"></div>
			 <md-card-content>
			   <h4>Facultatea de ...</h4>
			   
			 </md-card-content>
			 <div class="md-actions" layout="row" layout-align="end center">
			 	<md-button  md-no-ink class="md-raised">Detalii</md-button>
			 	<md-button  md-no-ink class="md-raised">Intra</md-button>
			 </div>
			</md-card>
			  </div>
		
	</div>
	</md-content>




	 



