<md-toolbar  class="md-whiteframe-z1 nav-colour" ng-controller="NavbarCtrl" >

    <div class="md-toolbar-tools" ng-if="isLoggedIn()">

        <md-button class="menu" hide-gt-sm ng-click="toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="assets/images/menu.svg" ></md-icon>
        </md-button>

        <span href="/calendar" hide show-gt-sm >School Planner</span>

        <span flex></span>

        <md-button  href="/universities" hide show-gt-sm >
            Universities
        </md-button>

        <md-button href="/calendar" hide show-gt-sm >
            Orar
        </md-button>

        <img src="assets/images/profile.png" height="35" width="40" >

        <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                <md-icon md-menu-origin md-svg-icon="assets/images/moreVert.svg"></md-icon>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item>

                    <md-button     href="" ng-click="logout()">
                        Logout
                    </md-button>
                </md-menu-item>

                <md-menu-item>

                    <md-button    href="/settings" >
                        Profile
                    </md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>