<md-toolbar layout="row" class="md-whiteframe-z1 nav-colour" ng-controller="NavbarCtrl">

    <md-button class="menu" ng-if='isLoggedIn()' hide-gt-sm ng-click="toggleList()" aria-label="Show User List">
        <md-icon ng-if='isLoggedIn()' md-svg-icon="assets/images/menu.svg"></md-icon>
    </md-button>

    <md-button class=class="md-icon-button" href="/" hide show-gt-sm>School Planner</md-button>
    <span flex></span>

    <md-list-item ng-if="isLoggedIn()">
        <md-button href="/universities" hide show-gt-sm>Universities</md-button>
    </md-list-item>

    <md-list-item ng-if="isLoggedIn()">
        <md-button href="/" hide show-gt-sm>Calendar</md-button>
    </md-list-item>

    <md-button ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}" href="/login">Login</md-button>
    <md-button ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}" href="/signup">Signup</md-button>

    <md-list-item>
        <md-button ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}" href="" ng-click="logout()">Logout
        </md-button>

        <md-button ng-if="isLoggedIn()"  href="/settings">
            <img src="assets/images/profile.png" height="35" width="40">
        </md-button>
    </md-list-item>

</md-toolbar>