<div ng-hide="isLoggedIn()">

  <div layout="column">
    <h2  class="md-display-2" style="padding: 30px"layout layout-align="center center"> 
         Welcome to School Planner!</h2>
   <div layout="row">
       <md-card flex offset-gt-md = "30" class="md-whiteframe-z4"> 
           <md-card-content>
               
               <div layout="column">
                   <form class="form" name="form" ng-submit="login(form)">
                       <md-input-container>
                           <label>Email</label>
                           <input ng-model="user.email" type="email" required>
                       </md-input-container>
                       <md-input-container flex>
                           <label>Password</label>
                           <input ng-model="user.password" type="password" required>
                       </md-input-container>

                   </form>
               </div>
           </md-card-content>
           <div  layout="row" layout-align="center center">
               <md-button class="md-raised" ng-click="login(form)">Login</md-button>
               <hr/>
               
               <md-button class="md-raised" href="/signup">Signup</md-button>
           </div>
           </md-card>
       <div flex-gt-md="25"></div>
   </div>
</div>
</div>
       
       <!-- <div layout="column" >
        <h2 class="md-display-2" > 
         Welcome to school planner!</h2>

        
   
       


       <div layout="row" >
       
  
         
        <md-container flex offset-gt-md="25">
        <md-card >
        

        
        <form class="form" name="form" ng-submit="login(form)" novalidate>

          <div class="form-group">
             <md-input-container >
              <input ng-model="user.email" type="email" placeholder="Email (required)" required name="email" >
               <div ng-show="form.$dirty" ng-messages="form.email.$error">
                    <div ng-message="required">Email required.</div>
                    <div ng-message="email">Invalid email.</div>
                  </div>
            </md-input-container>
         </div>

          <div class="form-group">
            <md-input-container class="md-icon-float" >
               <input ng-model="user.password" type="password" placeholder="Password" required name="password">
               <div ng-show="form.$dirty" ng-messages="form.password.$error">
                    <div ng-message="required">Password required.</div>
                  </div>
              </md-input-container>
          </div>

          
     

          <div layout="row" layout-align= "center center">
              <md-button  type="submit">Login</md-button>
              

              <md-button  type="submit" href="/signup">Signup</md-button>
              
          </div>
        </form>
      
      

    </md-card>
     </md-contaier> -->
  <!-- </div> -->

  
  
<!-- 
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.0 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
 -->