<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1"   >
        <h4>Menu</h4>
    </md-toolbar>
<md-list ng-controller="SidebarCtrl">
    <md-list-item ng-show="isAdmin()">
    
       <md-button href="/formular" class="md-raised">Add subject</md-button>
    
    </md-list-item>
    <md-list-item>
        Oriceverea
    </md-list-item>
    <md-list-item>
        Oriceea
    </md-list-item>
    <md-list-item>
        Oricedsa
    </md-list-item>
    <md-list-item>
    
    </md-list-item>
</md-list>
</md-sidenav>
