
 <md-toolbar class="md-whiteframe-z1" >
        <h2>Menu</h2>
    </md-toolbar>

<div align = "center">
  <md-list-item ng-if="isAdmin()">
    
       <md-button href="/addsubject" class="md-raised">Add subject</md-button>
    
  </md-list-item>
  <md-list-item ng-if="isAdmin()">
    
       <md-button href="/listSubjects" class="md-raised">List Subjects</md-button>
    
  </md-list-item>
<!-- <md-menu>
  
  <md-button ng-click="$mdOpenMenu()">
  Faculties
  </md-button>
  <md-menu-content width="4">
    <md-menu-item>
      <md-button ng-click="clickfn()" align = "center">
        Scheduel
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="clickfn()">
        University
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="clickfn()">
        Students
      </md-button>
    </md-menu-item>
    </md-menu-content>
    </md-menu> -->
</div>
  