<div ng-hide="isLoggedIn()">

    <div layout="column">
        <h2 class="md-display-2" style="padding: 30px"layout layout-align="center center">
            Welcome to school planner!</h2>
        <div layout="row">
            <md-card flex offset-gt-md = "30" class="md-whiteframe-z4">
                <md-card-content>

                    <div layout="column">
                        <form class="form" name="form" ng-submit="register(form)" novalidate>
                            <md-input-container>
                                <input ng-model="user.name" type="name" placeholder="Name" required name="name">
                                <div ng-messages="form.name.$error">
                                    <div ng-message="required">Name is required.</div>
                                </div>
                            </md-input-container>

                            <br>

                            <md-input-container>
                                <input ng-model="user.group" type="name" placeholder="Group" required name="group">
                                <div ng-messages="form.group.$error">
                                    <div ng-message="required">Group is required.</div>
                                </div>
                            </md-input-container>
                            <br>
                            <md-input-container>
                                <input ng-model="user.year" type="number" placeholder="Year" required name="year">
                                <div ng-messages="form.year.$error">
                                    <div ng-message="required">Year is required.</div>
                                </div>
                            </md-input-container>
                            <br>


                            <md-input-container>
                                <input ng-model="user.email" type="email" name="email" placeholder="Email" ng-required="true">
                                <div ng-messages="form.email.$error">
                                    <div ng-message="required">Email required.</div>
                                    <div ng-message="email">Invalid email.</div>
                                </div>
                            </md-input-container>

                            <br>
                            <md-input-container>
                                <!-- Use floating label instead of placeholder -->
                                <input ng-model="user.password" type="password" placeholder="Password" ng-required="true" name="password">
                                <div ng-messages="form.password.$error">
                                    <div ng-message="required">Password required.</div>
                                </div>
                            </md-input-container>

                            <div align="center">
                                <md-button class="md-raised" type="submit">Signup</md-button>
                                <!-- <md-button class="md-raised" href="/login">Login</md-button> -->
                            </div>

                        </form>
                    </div>
                </md-card-content>

            </md-card>
            <div flex-gt-md="25"></div>
        </div>
    </div>
</div>